@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/* --background: #333; */
/* --foreground: #1db954; */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Chewy", system-ui;
}
